
// Fonts
@import url('https://fonts.googleapis.com/css?family=Homenaje|IBM+Plex+Mono|IBM+Plex+Serif');

// Fontawesome
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/brands';

// Variables
@import 'variables';

// Syntax Highlighting
@import 'prism.css';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;
@tailwind components;

// Pagination
@import 'pagination';

// Alerts
@import 'alerts';

// Notifications
@import 'notifications';

// Forms
@import 'forms';

// Menu
@import 'menu';

// Post Meta
@import 'post';

// Footer
@import 'footer';

body {
    @apply .bg-grey-lightest;
}

.about-image {
    @apply .rounded-lg;
    height: 250px;
    width: 250px;
}

.fabric {
    background-image: url('/images/45-degree-fabric-dark.png');
    background-attachment: fixed;
}

.linen {
    background-image: url('/images/black-linen.png');
    background-attachment: fixed;
}

.bg-reset {
    background-image: none;
}

[v-cloak] { display: none; }

@tailwind utilities;
